.profileScreen {
  height: 100vh;
  color: white;
  margin: auto;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__body > h1 {
  font-size: 4rem;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 5%;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 1rem;
  padding-left: 20px;
}

.profileScreen__plans {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__currentPlan {
  margin-left: 10px;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 5%;
  width: 60%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.profileScreen__signOut:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .profileScreen__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 20%;
    max-width: 200px;
  }
  .profileScreen__body > h1 {
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
  }

  .profileScreen__info > img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 5%;
  }
}
