* {
  margin: 0;
  padding: 0;
}

.mobileNavMenu__container {
  display: flex;
}

.nav__menuIcon {
  opacity: 0.8;
}

.nav__menuIcon:hover {
  opacity: 1;
}

.mobileNavMenu__list {
  display: none;
}

.mobileNavMenu__navlink {
  margin-bottom: 10px;
}

.mobileNavMenu__menu--links {
  font-weight: 400;
  font-size: 0.88rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.mobileNavMenu__menu--links:hover {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .mobileNavMenu__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
}
